WebClient/src/main/java/client/orders.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://services/" name="OrdersService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/orders?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://rtx_computershop.ua/entity/orders"
                        schemaLocation="http://localhost:8080/orders?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="addOrder">
        <part name="parameters" element="tns:addOrder"/>
    </message>
    <message name="addOrderResponse">
        <part name="parameters" element="tns:addOrderResponse"/>
    </message>
    <message name="deleteOrder">
        <part name="parameters" element="tns:deleteOrder"/>
    </message>
    <message name="deleteOrderResponse">
        <part name="parameters" element="tns:deleteOrderResponse"/>
    </message>
    <message name="changeOrder">
        <part name="parameters" element="tns:changeOrder"/>
    </message>
    <message name="changeOrderResponse">
        <part name="parameters" element="tns:changeOrderResponse"/>
    </message>
    <message name="getOrders">
        <part name="parameters" element="tns:getOrders"/>
    </message>
    <message name="getOrdersResponse">
        <part name="parameters" element="tns:getOrdersResponse"/>
    </message>
    <message name="getOrderDetails">
        <part name="parameters" element="tns:getOrderDetails"/>
    </message>
    <message name="getOrderDetailsResponse">
        <part name="parameters" element="tns:getOrderDetailsResponse"/>
    </message>
    <portType name="Orders">
        <operation name="addOrder">
            <input wsam:Action="http://services/Orders/addOrderRequest" message="tns:addOrder"/>
            <output wsam:Action="http://services/Orders/addOrderResponse" message="tns:addOrderResponse"/>
        </operation>
        <operation name="deleteOrder">
            <input wsam:Action="http://services/Orders/deleteOrderRequest" message="tns:deleteOrder"/>
            <output wsam:Action="http://services/Orders/deleteOrderResponse" message="tns:deleteOrderResponse"/>
        </operation>
        <operation name="changeOrder">
            <input wsam:Action="http://services/Orders/changeOrderRequest" message="tns:changeOrder"/>
            <output wsam:Action="http://services/Orders/changeOrderResponse" message="tns:changeOrderResponse"/>
        </operation>
        <operation name="getOrders">
            <input wsam:Action="http://services/Orders/getOrdersRequest" message="tns:getOrders"/>
            <output wsam:Action="http://services/Orders/getOrdersResponse" message="tns:getOrdersResponse"/>
        </operation>
        <operation name="getOrderDetails">
            <input wsam:Action="http://services/Orders/getOrderDetailsRequest" message="tns:getOrderDetails"/>
            <output wsam:Action="http://services/Orders/getOrderDetailsResponse" message="tns:getOrderDetailsResponse"/>
        </operation>
    </portType>
    <binding name="OrdersServicePortBinding" type="tns:Orders">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="addOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="changeOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getOrders">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getOrderDetails">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="OrdersService">
        <port name="OrdersServicePort" binding="tns:OrdersServicePortBinding">
            <soap:address location="http://localhost:8080/orders"/>
        </port>
    </service>
</definitions>